 .banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner .content-container {
  background: rgba(0,0,0,.7);
  border: 1px solid white;
}

.banner h1, .banner h2{
color: white;
margin: 30px;
}

.banner h2 {
  font-size: 1.2em;
} 

