.cancel-btn {
  background: white;
  border: 1px solid grey;
  border-radius: 5px;
  color: rgb(148, 0, 0);
  float: right;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color .5s, color .5s;
}

.cancel-btn:hover{
  background: rgb(65, 0, 0);
  color: white;
}