.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.login-form button {
  border: none;
  border-radius: 5px;
  background: #ffa587;
  box-shadow: #f16030 0px 5px 0px;
  color: #23404d;
  color: white;
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
  transition: background-color .5s;
  cursor: pointer;
}

.login-form button:hover {
  background: #f16030;
}

.submit-error {
  color: red;
  max-width: 200px;
  text-align: center;
  margin: 10px 0;
}